---
{
	"pagination": {
		"data": "testsuites",
		"size": 1,
		"alias": "suite"
	},
	"permalink": "{{ suite.path | replace_first: 'test', 'docs' }}/sandbox.html"
}
---

<!DOCTYPE html>
<meta charset=utf-8>
<meta robots=noindex,nofollow>
<title>{{ suite.path }} | Test sandbox | YOZO</title>
<script>
if(window.top != window.parent || window.top == window){
	location.replace('./')
}
</script>

<script src=/lib-latest.js></script>


<h1>{{ suite.path }}</h1>
<script type=module>
self.assert = pass => {
	if(pass) return
	throw Error('Assertion failed')
}

const {when} = window.yozo
const {ContextMessenger} = await import('/-/js/context-messenger/index.js')
const messenger = new ContextMessenger(window.parent)

messenger.respondTo('run', async ({filename}) => {
	const [result] = await Promise.allSettled([import(`./${filename}`)])
	const ok = result.status == 'fulfilled'
	if(!ok) console.warn(`${filename}: ${result.reason}`)
	const refresh = ok && result.value?.refresh
	return {ok, refresh}
})

</script>
