---
{
	"pagination": {
		"data": "testsuites",
		"size": 1,
		"alias": "suite"
	},
	"permalink": "{{ suite.path }}/sandbox.html",
	"eleventyImport": {
		"collections": ["docs"]
	}
}
---

<!DOCTYPE html>
<meta charset=utf-8>
<meta robots=noindex,nofollow>
<title>{{ suite.path }} | Test sandbox | YOZO</title>
<script>
if(window.top != window.parent || window.top == window){
	location.replace('./')
}
</script>

<script src=/archive/lib-{{ versions[0].number }}.js></script>


<h1>{{ suite.path }}</h1>
<script type=module>
self.assert = pass => {
	if(pass) return
	throw Error('Assertion failed')
}

const {when} = window.yozo
const {ContextMessenger} = await import('/-/js/context-messenger/index.js')
const messenger = new ContextMessenger(window.parent)

when(messenger).runs().then(async event => {
	const {filename} = event.detail.payload
	const [result] = await Promise.allSettled([import(`./${filename}`)])
	const ok = result.status == 'fulfilled'
	if(!ok) console.warn(result.reason)
	const refresh = ok && result.value?.refresh
	event.detail.respond({ok, refresh})
})

messenger.ready()

</script>
