@layer custom-elements {
	site-nav {
		display: block; height: 4.5rem;
		position: fixed; inset: 0 0 auto 0;
		background: var(--background-color);
		box-shadow: 0 -10px 10px 20px var(--sub-background-color);
		z-index: 1000;
	}
	site-footer {
		display: block; min-height: 6rem; margin-top: 6rem;
		border-top: .5rem solid var(--background-color);
	}
	ui-code:not(:defined){
		display: block; padding: 1rem 2rem;
		background: var(--background-color);
		font-family: var(--font-monospace); line-height: 1.5;
		overflow-x: auto;
		border-radius: 1rem;
	}
	ui-icode {
		padding: .125em .5em;
		background-color: var(--background-color);
		border-radius: .5em;
		font-family: var(--font-monospace);
		ui-callout & { padding: .125em .25em; }
	}
	ui-callout {
		display: flex; padding: 1.5rem 2rem 1.5rem 1rem; margin: 2rem 0;
		background-color: var(--background-color);
		& > :first-child { margin-top: 0; }
		& > :last-child { margin-bottom: 0; }
		&:not(:defined){ padding-left: 4.75rem; }
	}
}
