---
{
	"layout": "layouts/root.liquid",
	"tags": "docs",
	"head": [
		"<link rel=stylesheet href=/-/css/docs.css>"
	]
}
---
{% liquid
	assign escaped = description | replace: '"', '\\"'
	assign json = '{"description":"' | append: escaped | append: '"}'
	assign data = json | jsonparse
%}

<main>
	<aside>
		<docs-outline></docs-outline>
	</aside>

	<article>
		<h1>{{ title | escape }}</h1>
		<p>
			{% renderTemplate "liquid, md", data %}
				{{ description }}
			{% endrenderTemplate %}
		</p>

		{{ content }}
	</article>
</main>
