---
{
	"layout": "layouts/root.liquid",
	"tags": "docs",
	"head": [
		"<link rel=stylesheet href=/-/css/docs.css>"
	]
}
---

<main>
	<aside>
		<docs-outline></docs-outline>
	</aside>

	<article>
		<h1>{{ title }}</h1>
		<p>{{ description }}</p>

		{{ content }}
	</article>
</main>
