---
{
	"layout": "layouts/root.liquid",
	"title": "Play",
	"exclude": ["site-footer"],
	"head": [
		"<link rel=stylesheet href=./index.css>",
		"<script src=./index.js></script>"
	]
}
---

<h1 class=sr-only>Play around with Yozo</h1>

<play-toolbar></play-toolbar>
<play-session></play-session>
