---
{
	"layout": "root.liquid",
	"title": "Home",
	"description": "Yozo is a tiny stress-free solution for web components. Skip NPM - with a single script tag, it lets you write beautiful code, and ship it, too.",
	"head": [
		"<link rel=stylesheet href=./index.css>",
		"<script type=module src=./index.js></script>"
	]
}
---

<main>
	<section id=hero>
		<header>
			<h1>
				<span class=sr-only>Yozo</span>
				<ui-icon type=wordmark></ui-icon>
			</h1>
			<p>Simplicity at its finest!</p>
		</header>
		<p class=teaser>
			<span>Yozo is a tiny (&lt;5kB) drop-in stress-free solution for web components.</span>
			<span>Skip NPM - with a single <ui-icode type=html>&lt;script&gt;</ui-icode>, it lets you write beautiful code, and ship it, too.</span>
		</p>
		<ui-icon type=scroll-down></ui-icon>
	</section>
	<section id=selling-points>
		<header class=sr-only>
			<h2>Selling points</h2>
		</header>
		<section class=selling-point style="--theme-color: var(--primary-color)">
			<h3>
				<ui-icon type=tiny></ui-icon>
				Really really small
			</h3>
			<p>Yozo's latest release comes in at {{ versions[0].size.gzip }} bytes gzipped, and it will always remain less than 5kB to keep sites snappy and responsive. For reference, that's smaller than this image of a car: <img src=./tiny-van.png alt="Very small image of a red van" width=64 height=24 loading=lazy></p>
		</section>
		<section class=selling-point style="--theme-color: var(--keyword-color)">
			<h3>
				<ui-icon type=web-components></ui-icon>
				Web components
			</h3>
			<p>Built on top of native web components, Yozo works everywhere and plays nice with other tools. Write your components once, and use them in any project.</p>
		</section>
		<section class=selling-point style="--theme-color: var(--parameter-color)">
			<h3>
				<ui-icon type=forward></ui-icon>
				Skip the hassle
			</h3>
			<p>Because complex build tools and configuration hell are a nighmare, Yozo was made to be the solution that Just Works. Include it with a script tag, and start using it right away.</p>
		</section>
	</section>
	<section id=compare>
		<div class=explanation>
			<h2>What it looks like</h2>
			<p>Yozo lets you write concise, declarative, and readable code, and it comes to life just like that.</p>
			<p>Component interfaces are immediately clear, because their definitions start with it. From just the first three lines; we can see this component is called <ui-icode type=tag>click-counter</ui-icode>, it has an <ui-icode type="attr">amount</ui-icode> attribute, and a <ui-icode type="js">reset()</ui-icode> method. Simple as that!</p>
			<p>Not convinced? Compare this component to implementations in two other Web Component libraries/frameworks: Lit and StencilJS. For the sake of completeness, I've also included what this basic component would look like when written in vanilla JS.</p>
		</div>
		<home-compare></home-compare>
	</section>
	<section id=explore>
		<h2>Explore</h2>
		<p>From here, discover the resources Yozo has to offer.</p>
		<nav>
			<a href=/docs/ style="--theme-color: var(--name-color);">
				<ui-icon type=book></ui-icon>
				Documentation
			</a>
			<span class=soon style="--theme-color: var(--primary-color);">
				<ui-icon type=learn></ui-icon>
				Take a tour
			</span>
			<a href=/play/ style="--theme-color: var(--keyword-color);">
				<ui-icon type=controller></ui-icon>
				Playground
			</a>
			<a href=/blog/ style="--theme-color: var(--string-color);">
				<ui-icon type=chat></ui-icon>
				Blog
			</a>
		</nav>
	</section>
</main>
